{% extends 'front/base.html' %}

{% block content %}
  {% if erreur %}
    <p class="text-red-600 text-center text-lg pb-2"><strong>Erreur:</strong> {{ erreur }} </p>
  {% endif %}
<!-- Pour créer un formulaire on indique la methode que l'on veut utiliser et la page vers laquelle on envoye les infos
  POST permet de créer et modifier des données - là ou GET permet juste de les visualiser sans agir dessus -->
<div class="flex items-center justify-center">
  <form method="POST" action="{{ url_for('register')}}" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="utilisateur">
        Utilisateur
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="utilisateur" type="text" placeholder="Nom de l'utilisateur">
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="mot_de_passe">
        Mot de Passe
      </label>
      <input class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="mot_de_passe" type="password" id="password" placeholder="Mot de passe">
      <ul>
          <li id="uppercase" class="text-red-500">Une majuscule</li>
          <li id="lowercase" class="text-red-500">Une minuscule</li>
          <li id="number" class="text-red-500">Un chiffre</li>
      </ul>
    </div>
        <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="mot_de_passe">
        Confirmation mot de Passe
      </label>
      <input class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="verif_mot_de_passe" type="password" placeholder="Mot de passe">
    </div>
    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" id="submit-btn" disabled>
        Créer un compte
      </button>
    </div>
  </form>
</div>
{% endblock %} 



